{{template "head" .}}
{{template "topo" .}}
<script>
    var nav = document.getElementById("navAdiciona")
    nav.classList.add("active");
</script>
<section>
    <div class="m-4">
        <h2 class="pt-4 mb-3"> Gerador de Roteiro</h2>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="apelido" class="form-label">Apelido<span class="required">*</span></label>
                <input class="form-control" name="apelido" id="apelido"
                    placeholder="Digite o apelido que deseja colocar no roteiro">
            </div>
            <div class="col-md-6 mb-3">
                <label for="destino" class="form-label">Destino<span class="required">*</span></label>
                <input class="form-control" name="destino" id="destino"
                    placeholder="Digite o Destino da viagem">
            </div>
            <div class="col-md-6 mb-3">
                <label for="dias" class="form-label">Dias de Viagem<span class="required">*</span></label>
                <input type="number" class="form-control" name="dias" id="dias"
                    placeholder="Digite a quantidade de dias da viagem">
            </div>
            <div class="col-md-6 mb-3">
                <label for="dias" class="form-label">Dias de Viagem<span class="required">*</span></label>
                <input type="number" class="form-control" name="dias" id="dias"
                    placeholder="Digite a quantidade de dias da viagem">
            </div>
        </div>
    </div>
</section>
{{template "rodape" .}}